{% load static %}
<div class="CategoriesButton-content">
    {% if categories|length > 0 %}
        {% for category in categories %}
            {% url 'shop:catalog_category' category.id as link_catalog_category %}
            <div class="CategoriesButton-link"><a href="{{ link_catalog_category }}">
                <div class="CategoriesButton-icon">
                    {% if category.icon %}
                        <img src="{% get_media_prefix %}{{ category.icon }}"
                             alt="{{ category.title }}"/>
                    {% endif %}
                </div>
                <span class="CategoriesButton-text">{{ category.title }}</span></a>
                {% if category.get_children.all|length > 0 %}
                    <a class="CategoriesButton-arrow" href="#"></a>
                    <div class="CategoriesButton-submenu">
                        {% for subcategory in category.get_children.all %}
                            {% url 'shop:catalog_category' subcategory.id as link_catalog_subcategory %}
                            <a class="CategoriesButton-link" href="{{ link_catalog_subcategory }}">
                                <div class="CategoriesButton-icon">
                                    {% if subcategory.icon %}
                                        <img
                                                src="{% get_media_prefix %}{{ subcategory.icon }}"
                                                alt="{{ subcategory.title }}"/>
                                    {% endif %}

                                </div>
                                <span class="CategoriesButton-text">{{ subcategory.title }}</span>
                            </a>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    {% else %}
        Нет категорий
    {% endif %}


    {#    <div class="CategoriesButton-link"><a href="#">#}
    {#        <div class="CategoriesButton-icon"><img src="{% get_static_prefix %}assets/img/icons/departments/1.svg"#}
    {#                                                alt="1.svg"/>#}
    {#        </div>#}
    {#        <span class="CategoriesButton-text">Accessories</span></a>#}
    {#    </div>#}
    {#    <div class="CategoriesButton-link"><a href="#">#}
    {#        <div class="CategoriesButton-icon"><img src="{% get_static_prefix %}assets/img/icons/departments/2.svg"#}
    {#                                                alt="2.svg"/>#}
    {#        </div>#}
    {#        <span class="CategoriesButton-text">Bags</span></a>#}
    {#    </div>#}
    {#    <div class="CategoriesButton-link"><a href="#">#}
    {#        <div class="CategoriesButton-icon"><img src="{% get_static_prefix %}assets/img/icons/departments/3.svg"#}
    {#                                                alt="3.svg"/>#}
    {#        </div>#}
    {#        <span class="CategoriesButton-text">Cameras</span></a><a class="CategoriesButton-arrow"#}
    {#                                                                 href="#"></a>#}
    {#        <div class="CategoriesButton-submenu"><a class="CategoriesButton-link" href="#">#}
    {#            <div class="CategoriesButton-icon"><img src="{% get_static_prefix %}assets/img/icons/departments/1.svg"#}
    {#                                                    alt="1.svg"/>#}
    {#            </div>#}
    {#            <span class="CategoriesButton-text">Accessories</span></a><a#}
    {#                class="CategoriesButton-link" href="#">#}
    {#            <div class="CategoriesButton-icon"><img src="{% get_static_prefix %}assets/img/icons/departments/2.svg"#}
    {#                                                    alt="2.svg"/>#}
    {#            </div>#}
    {#            <span class="CategoriesButton-text">Bags</span></a>#}
    {#        </div>#}
    {#    </div>#}
    {#    <div class="CategoriesButton-link"><a href="#">#}
    {#        <div class="CategoriesButton-icon"><img src="{% get_static_prefix %}assets/img/icons/departments/4.svg"#}
    {#                                                alt="4.svg"/>#}
    {#        </div>#}
    {#        <span class="CategoriesButton-text">Clothings</span></a>#}
    {#    </div>#}
    {#    <div class="CategoriesButton-link"><a href="#">#}
    {#        <div class="CategoriesButton-icon"><img src="{% get_static_prefix %}assets/img/icons/departments/5.svg"#}
    {#                                                alt="5.svg"/>#}
    {#        </div>#}
    {#        <span class="CategoriesButton-text">Electronics</span></a>#}
    {#    </div>#}
    {#    <div class="CategoriesButton-link"><a href="#">#}
    {#        <div class="CategoriesButton-icon"><img src="{% get_static_prefix %}assets/img/icons/departments/6.svg"#}
    {#                                                alt="6.svg"/>#}
    {#        </div>#}
    {#        <span class="CategoriesButton-text">Fashion</span></a>#}
    {#    </div>#}
    {#    <div class="CategoriesButton-link"><a href="#">#}
    {#        <div class="CategoriesButton-icon"><img src="{% get_static_prefix %}assets/img/icons/departments/7.svg"#}
    {#                                                alt="7.svg"/>#}
    {#        </div>#}
    {#        <span class="CategoriesButton-text">Furniture</span></a><a class="CategoriesButton-arrow"#}
    {#                                                                   href="#"></a>#}
    {#        <div class="CategoriesButton-submenu"><a class="CategoriesButton-link" href="#">#}
    {#            <div class="CategoriesButton-icon"><img src="{% get_static_prefix %}assets/img/icons/departments/1.svg"#}
    {#                                                    alt="1.svg"/>#}
    {#            </div>#}
    {#            <span class="CategoriesButton-text">Accessories</span></a><a#}
    {#                class="CategoriesButton-link" href="#">#}
    {#            <div class="CategoriesButton-icon"><img src="{% get_static_prefix %}assets/img/icons/departments/2.svg"#}
    {#                                                    alt="2.svg"/>#}
    {#            </div>#}
    {#            <span class="CategoriesButton-text">Bags</span></a>#}
    {#        </div>#}
    {#    </div>#}
    {#    <div class="CategoriesButton-link"><a href="#">#}
    {#        <div class="CategoriesButton-icon"><img src="{% get_static_prefix %}assets/img/icons/departments/8.svg"#}
    {#                                                alt="8.svg"/>#}
    {#        </div>#}
    {#        <span class="CategoriesButton-text">Lightings</span></a>#}
    {#    </div>#}
    {#    <div class="CategoriesButton-link"><a href="#">#}
    {#        <div class="CategoriesButton-icon"><img src="{% get_static_prefix %}assets/img/icons/departments/9.svg"#}
    {#                                                alt="9.svg"/>#}
    {#        </div>#}
    {#        <span class="CategoriesButton-text">Mobiles</span></a>#}
    {#    </div>#}
    {#    <div class="CategoriesButton-link"><a href="#">#}
    {#        <div class="CategoriesButton-icon"><img src="{% get_static_prefix %}assets/img/icons/departments/10.svg"#}
    {#                                                alt="10.svg"/>#}
    {#        </div>#}
    {#        <span class="CategoriesButton-text">Trends</span></a>#}
    {#    </div>#}
    {#    <div class="CategoriesButton-link"><a href="#">#}
    {#        <div class="CategoriesButton-icon"><img src="{% get_static_prefix %}assets/img/icons/departments/11.svg"#}
    {#                                                alt="11.svg"/>#}
    {#        </div>#}
    {#        <span class="CategoriesButton-text">More</span></a><a class="CategoriesButton-arrow"#}
    {#                                                              href="#"></a>#}
    {#        <div class="CategoriesButton-submenu"><a class="CategoriesButton-link" href="#">#}
    {#            <div class="CategoriesButton-icon"><img src="{% get_static_prefix %}assets/img/icons/departments/1.svg"#}
    {#                                                    alt="1.svg"/>#}
    {#            </div>#}
    {#            <span class="CategoriesButton-text">Accessories</span></a><a#}
    {#                class="CategoriesButton-link" href="#">#}
    {#            <div class="CategoriesButton-icon"><img src="{% get_static_prefix %}assets/img/icons/departments/2.svg"#}
    {#                                                    alt="2.svg"/>#}
    {#            </div>#}
    {#            <span class="CategoriesButton-text">Bags</span></a>#}
    {#        </div>#}
    {#    </div>#}
    {#    <div class="CategoriesButton-link"><a href="#">#}
    {#        <div class="CategoriesButton-icon"><img src="{% get_static_prefix %}assets/img/icons/departments/12.svg"#}
    {#                                                alt="12.svg"/>#}
    {#        </div>#}
    {#        <span class="CategoriesButton-text">Lightings</span></a>#}
    {#    </div>#}
</div>