{% load i18n %}
<div class="Section-column">
    <div class="Section-columnSection">
        <header class="Section-header">
            <strong class="Section-title">
                {% trans "Прогресс заполнения" %}
            </strong>
        </header>
        <div class="Section-columnContent">
            <ul class="menu menu_vt Order-navigate">
                <li class="menu-item_ACTIVE menu-item">
                    <a class="menu-link" href="#step1">{{ html_step }} 1. {{ html_step_1 }}</a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="#step2">{{ html_step }} 2. {{ html_step_2 }}</a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="#step3">{{ html_step }} 3. {{ html_step_3 }}</a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="#step4">{{ html_step }} 4. {{ html_step_4 }}</a>
                </li>
            </ul>
        </div>
    </div>
</div>