{% load i18n %}
<div class="Order-block Order-block_OPEN" id="step1">
    <header class="Section-header Section-header_sm">
        <h2 class="Section-title">
            {{ html_step }} 1. {{ html_step_1 }}
        </h2>
    </header>
    <form class="form" action="{% url 'users:signup' %}" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="row-block">
                <div class="form-group">
                    <label class="form-label" for="{{ form_reg.full_name.id_for_label }}">
                        {% trans "Полное имя" %}
                    </label>
                    {{ form_reg.full_name }}
                    {% include 'general/errors/form_error.html' with errors=form_reg.full_name.errors %}
                </div>
                <div class="form-group">
                    <label class="form-label" for="{{ form_reg.phoneNumber.id_for_label }}">
                        {% trans "Телефон" %}
                    </label>
                    {{ form_reg.phoneNumber }}
                    {% include 'general/errors/form_error.html' with errors=form_reg.phoneNumber.errors %}
                </div>
                <div class="form-group">
                    <label class="form-label" for="{{ form_reg.email.id_for_label }}">
                        E-mail:
                    </label>
                    {{ form_reg.email }}
                    {% include 'general/errors/form_error.html' with errors=form_reg.email.errors %}
                </div>
            </div>
            {% if not request.user.is_authenticated %}
                <div class="row-block">
                    <div class="form-group">
                        <label class="form-label" for="{{ form_reg.password1.id_for_label }}">
                            {% trans "Пароль" %}:
                        </label>
                        {{ form_reg.password1 }}
                        {% include 'general/errors/form_error.html' with errors=form_reg.password1.errors %}
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="{{ form_reg.password2.id_for_label }}">
                            {% trans "Повторите пароль" %}:
                        </label>
                        {{ form_reg.password2 }}
                        {% include 'general/errors/form_error.html' with errors=form_reg.password2.errors %}
                    </div>

                    <div class="form-group">
                        <button type="button" name="button" id="login-btn" onclick="initModalLogin()" class="btn btn_success Order-btnReg">
                            {% trans "Я уже зарегистрирован" %}
                        </button>
                    </div>
                </div>
            {% endif %}

        </div>
        {% if request.user.is_authenticated %}
            <div class="Order-footer">
                <a class="btn btn_success Order-next" href="#step2">{% trans "Дальше" %}</a>
            </div>
        {% else %}
            <div class="Order-footer">
                <button class="btn btn_success" type="submit">Зарегистрироваться</button>
            </div>
            <div class="form-error">
                {% trans "Чтобы продолжить, нужно быть авторизованным пользователем" %}!
            </div>
        {% endif %}
    </form>



</div>