{% load i18n %}
{% load static %}
<div class="Header-searchLink"><img src="{% get_static_prefix %}assets/img/icons/search.svg" alt="search.svg"/>
</div>
<div class="Header-search">
    <div class="search">
        <form class="form form_search" action="" method="get">
            <input
                    class="search-input"
                    id="title"
                    name="title"
                    type="text"
                    placeholder="{% trans "Что ищем?" %}"
                    value="{{ request.GET.title }}"
            >
            <button class="search-button" type="submit" name="search" id="search"><img
                    src="{% get_static_prefix %}assets/img/icons/search.svg" alt="search.svg"/>{% trans "Поиск" %}
            </button>
        </form>
    </div>
</div>