{% load i18n %}
{% load static %}
<div class="Section-column">
    <div class="Section-columnSection Section-columnSection_mark">
        <div class="media media_advantage">
            <div class="media-image"><img src="{% get_static_prefix %}assets/img/icons/advantages/shipping.svg" alt="shipping.svg"/>
            </div>
            <div class="media-content">
                <strong class="media-title">{% trans "Доставка и возврат" %}
                </strong>
                <p class="media-text">{% trans "Всемирное судоходство" %}
                </p>
            </div>
        </div>
    </div>
    <div class="Section-columnSection Section-columnSection_mark">
        <div class="media media_advantage">
            <div class="media-image"><img src="{% get_static_prefix %}assets/img/icons/advantages/moneyBack.svg" alt="moneyBack.svg"/>
            </div>
            <div class="media-content">
                <strong class="media-title">{% trans "Возврат средств" %}
                </strong>
                <p class="media-text">{% trans "Гарантированные платежи" %}
                </p>
            </div>
        </div>
    </div>
    <div class="Section-columnSection Section-columnSection_mark">
        <div class="media media_advantage">
            <div class="media-image"><img src="{% get_static_prefix %}assets/img/icons/advantages/support.svg" alt="support.svg"/>
            </div>
            <div class="media-content">
                <strong class="media-title">{% trans "Политика поддержки" %}
                </strong>
                <p class="media-text">{% trans "Быстрая служба поддержки" %}
                </p>
            </div>
        </div>
    </div>
    <div class="Section-columnSection Section-columnSection_mark">
        <div class="media media_advantage">
            <div class="media-image"><img src="{% get_static_prefix %}assets/img/icons/advantages/quality.svg" alt="quality.svg"/>
            </div>
            <div class="media-content">
                <strong class="media-title">{% trans "Гарантия качества" %}
                </strong>
                <p class="media-text">{% trans "Лучшее качество продуктов" %}
                </p>
            </div>
        </div>
    </div>
</div>