{% extends 'base_template/base_template.html' %}
{% load i18n %}
{% load static %}
{% block content %}
    {% include 'general/catalog/catalog_filter.html' %}
    <div class="Section-content">
        {% include 'general/catalog/catalog_sort.html' %}
        <div class="Cards">
            {% for product in products_list %}
                {% include 'general/catalog/catalog_product.html' %}
            {% empty %}
                {% trans "Товаров нет" %}
            {% endfor %}
        </div>
{#        {% include 'general/catalog/pagination.html' %}#}
        {% include 'general/catalog/pagination_filters_django.html' %}
    </div>

{% endblock %}