{% load i18n %}
{% if sort|length > 0 and sort == "price" %}
    {% if sort_dir|length > 0 %}
        <a class="Sort-sortBy Sort-sortBy_inc" href="{% url 'shop:catalog' %}{{ category_link }}?sort=price&sort_dir={{ sort_query }}">
            {% trans "Цене" %}
        </a>
    {% else %}
        <a class="Sort-sortBy Sort-sortBy_dec" href="{% url 'shop:catalog' %}{{ category_link }}?sort=price&sort_dir=-{{ sort_query }}">
            {% trans "Цене" %}
        </a>
    {% endif %}
{% else %}
    <a class="Sort-sortBy" href="{% url 'shop:catalog' %}{{ category_link }}?sort=price&sort_dir={{ sort_query }}">
        {% trans "Цене" %}
    </a>
{% endif %}