<form class="form" method="get" id="filter_form">
    <div class="form-group">
        <div class="range Section-columnRange">
            {{ filter.form.price }}
            <div class="range-price">Цена:&#32;
                <div class="rangePrice">
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        {{ filter.form.title }}
    </div>
    <div class="form-group">
        {{ filter.form.product_property }}
    </div>
    <div class="form-group">
        {{ filter.form.product_values }}
    </div>
    <div class="form-group">
        <!-- - var options = setOptions(items, ['value', 'selected', 'disabled']);-->
    </div>
    <div class="form-group">
        <label class="toggle">
            {{ filter.form.is_stock }}<span class="toggle-box"></span><span class="toggle-text">Только товары в наличии</span>
        </label>
    </div>
    <div class="form-group">
        <label class="toggle">
            {{ filter.form.is_limited }}<span class="toggle-box"></span><span class="toggle-text">Ограниченная серия</span>
        </label>
    </div>
    <div class="form-group">
        <div class="buttons">
            <button class="btn btn_square btn_dark btn_narrow" type="submit">Применить</button>
        </div>
    </div>
</form>